
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.7;
    font-size: 1.6em;
}

.container-fluid {
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {

}

h3 {

}

ul {
    list-style: none;
}

li {

}

em {
    font-weight: 600;
    font-style: normal;
}
main {
    min-height: 1500px;
}
main, nav {
   background-color: #fff;
}

nav a, .dropdown-item {
   font-weight: 700;
   color: #666;
}


.navbar h1 a {
    background-image: url('images/backhand_technology.png');
    background-color: #fff;
    padding: 58px 0 50px 120px;
    background-position: left;
    background-repeat: no-repeat;
    color: #666;

}

.navbar-text, .nav-item {
    font-size: .7em;

}

.navbar-text {
    padding: 0 50px;
}

.jumbotron {
    background-image: url('images/header.jpg');
    background-color: #fff;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #666;
    padding: 300px 50px 50px;
}

.row {
    padding: 2em;
    font-size: 80%;
}

.stack h2 {
    margin-top: 50px;
}

.stack h2:first-of-type {
    margin-top: 0;
}


.icon h2 {
    background-color: #fff;
    background-size: 100px 100px;
    height: auto;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 130px;
    text-align: center;
}

.icon p {
    margin-bottom: 50px;
}

.hero {
    margin-top: -100px;
}

#insights {
    background-image: url('images/003-file-1.png');
}

#business_facets {
    background-image: url('images/026-database.png');
}

#trust_data {
    background-image: url('images/023-presentation.png');
}

#analytics_engineering {
    background-image: url('images/016-sharing-archives-1.png');
}

#data_warehouses {
    background-image: url('images/011-folder-2.png');
}

#valuable_data {
    background-image: url('images/008-profits.png');
}

#our_principles ul {
    list-style: disc;
    list-style-position: outside;
}

#our_principles li {
    text-align: justify;
    margin: 20px;
    font-size: 1.3em;
    color: #333;
}

#our_principles li em {
    font-weight: 500;
}


#martin_image {
    margin-bottom: 20px;
}

footer {
    background-color: #222;
    color: #ccc;
    font-size: 66%;
}

footer h1 {
    font-size: 100%;
}
footer a {
    color: #ccc;
}

.social {
    padding-right: 10px;
}

