
body {
    background-color: #fff;
    /* color: #2b8743; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.7;
    font-size: 1.8em;
}

.container-fluid {
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-weight: 700;
}

h3 {

}

ul {
    list-style: none;
}

li {

}

main, nav {
   background-color: #fff;
}

nav a, .dropdown-item {
   font-weight: 700;
   color: #666;
}

.navbar {
    padding: 20px;

}

.navbar h1 a {
    background-image: url('images/backhand_technology.png');
    background-color: #fff;
    padding: 50px 0 50px 120px;
    background-position: left;
    background-repeat: no-repeat;
    color: #666;
}

.navbar-text, .nav-item {
    font-size: .6em;
}

.jumbotron {
    background-image: url('images/header.jpg');
    background-color: #fff;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #666;
    padding-top: 170px;
    padding-bottom: -50px;
}

.row {
    padding: 2em;

}


#our_principles ul {
    list-style: disc;

}


footer {
    background-color: #222;
    color: #ccc;
    font-size: 66%;
}

footer h1 {
    font-size: 100%;
}
footer a {
    color: #ccc;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
