
/*
    Colors
    ------

    Red = #CE534D
    Dark Brown = #46433A
    Light Brown = #DED4B9
    Blue = #64B6B1

*/

body {
    background-color: #fff;
    color: #46433A;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.7;
}

h1, h2, h3, h4 {
    font-family: 'Oxygen', sans-serif;
}

h1 {
    font-weight: 700;
}

h3 {
    font-size: 1em;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
}
.navbar {
    border-bottom: 1px solid #ccc;
}

.jumbotron {
    /*background-color: #CE534D;
    color: #fff;*/
    background-color: #fff;
}


.about div {
    padding: 20px 60px;
}

.about div:first-child {
  border-right: 1px solid #ccc;
}

.about img, .writing img {
    padding-right: 20px;
}

.experience {
    padding: 10px 20px;
    background-color: #DED4B9;
}

.education, .award, .contact {
    padding: 30px;
    background-color: #46433A;
    color: #DED4B9;
}

.contact a {
    color: #DED4B9;
}

.social {
    margin: 0 20px 20px 0;
}

footer {
    background-color: #000;
    color: #fff;
}

address {
    padding-top: 10px;
}

@media (max-width: 978px) {
    .about div {
        padding: 20px;
    }
}